* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tile {
    width: 30px;
    height: 30px;
    background-color: black;
    border: solid 1px grey;
}

.tile:hover {
    background-color: white;
}


.row {
    display: grid;
}

main {
    display: flex;
    justify-content: center;

}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

header > button {
    margin: 1rem 1rem;
}