* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tile {
    width: 30px;
    height: 30px;
    background-color: black;
    border: solid 1px grey;
}

#app {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    
}

main {
    display: flex;
    justify-content: center;

}