* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tile {
    width: 30px;
    height: 30px;
    background-color: black;
    border: solid 1px grey;
}

.tile:hover {
    background-color: white;
}


.row {
    display: grid;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

main > #scene-title {
    width: 60%;
    text-align: center;
    
}

header {
    width: 100%;
    display: none;
    justify-content: center;
}

header > button {
    margin: 1rem 1rem;
}

main > #scene-main {

}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 3s linear, opacity 2s linear;
}

.show {
    visibility: visible;
    opacity: 1;

}

.grass {
    background-color: forestgreen;
}

.water {
    background-color: blue;
}

.rock {
    background-color: grey;
}